

.register-container {
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}


.register-container input,
.register-container button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;   
}


.register-container input {
    border: 1px solid #ccc;
}


.register-container button {
    background: #a8afbe;
    color: white;
    border: none;
    cursor: pointer;
}

.register-container button:hover {
    background: #101010;
}

.title-logo{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin-bottom:15px;
}

.title-logo img{
    width:40px;
    height:40px;
}


footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:#222;
    color:white;
    text-align:center;
    padding:12px 0;
}

.message {
    color: red;
    margin-bottom: 10px;
}


.theme-btn {
    margin-top: 15px;
    background: #333;
}


body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background: url('dur2.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}
body.dark {
    background: url('dur2.webp') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

body.dark .register-container {
    background-color: #1e1e1e;
}

body.dark input {
    background: #333;
    color: white;
    border: 1px solid #555;
}


@media(max-width:768px){
    .register-container {
        width: 90%;
    }
}




.forgot-container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}

.forgot-container input,
.forgot-container button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;   
}

.forgot-container h2 {
    margin-bottom: 20px;
}

.forgot-container input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.forgot-container button {
    width: 50%;
    padding: 12px;
    background: #47494c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-container button:hover {
    background:  #1c1d1c;
}

.success {
    color: green;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.links {
    margin-top: 15px;
}

.links a {
    text-decoration: none;
    color: #0e0e0e;
}


body.dark .forgot-container {
    background-color: #1e1e1e;
}

body.dark input {
    background: #333;
    color: white;
    border: 1px solid #555;
}


@media(max-width:768px){
    .forgot-container {
        width: 90%;
    }
}
body.dark {
    background-color: #121212;
    color: white;
}
@media(max-width:600px){
    input, button {
        width:100%;
    }
}


